@tailwind base;
@tailwind components;

.postcode-input {
    @apply border-4 border-transparent w-full text-5xl text-center;
    transition: border 0.15s ease-in-out;
}

.postcode-input:focus {
    @apply border-yellow-400;
}

.postcode-input.status-fetched {
    @apply border-green-600;
}

.postcode-input.status-error {
    @apply border-red-600;
}

.search-button {
    @apply text-3xl bg-white p-4 rounded font-bold;
    transition: background 0.1s ease-in-out;
}

.search-button:hover {
    @apply bg-gray-200;
}


.search-button .normal-text i {
    @apply mr-5;
}

.search-button.disabled {
    @apply bg-gray-500 cursor-not-allowed;
}

.top-50pc {
    top: 50%;
}



/* A white bottom layer */
.whitebg { 
    background: white;
    position: absolute;
    height: 200px;
    z-index: 1;
}

/* A black layer on top of the white bottom layer */
.blackbg { 
    background: black; 
    width:100px;
    height: 200px;
    position: absolute;
    z-index: 2;
}

/* Some white text on top with blend-mode set to 'difference' */
.crime-name {
    position:absolute;
    font-family: Arial, Helvetica; 
    font-size: 95px; 
    mix-blend-mode: difference;
    color: white;
    z-index: 3;
    line-height: 200px;
    letter-spacing: -.03em;
}

/* A red DIV over the scene with the blend-mode set to 'screen' */
.makered { 
    background-color: #1b4080;
    mix-blend-mode: screen;
    height: 200px;
    position: absolute;
    z-index: 4;
}

@tailwind utilities;